@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonthin-webfont.woff2') format('woff2'),
         url('/fonts/camptonthin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonthinitalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonthinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonlight-webfont.woff2') format('woff2'),
         url('/fonts/camptonlight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonlightitalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonlightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonbook-webfont.woff2') format('woff2'),
         url('/fonts/camptonbook-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonbookitalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonbookitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonmedium-webfont.woff2') format('woff2'),
         url('/fonts/camptonmedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonmediumitalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonmediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonsemibold-webfont.woff2') format('woff2'),
         url('/fonts/camptonsemibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonsemibolditalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonsemibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonbold-webfont.woff2') format('woff2'),
         url('/fonts/camptonbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('/fonts/camptonbolditalic-webfont.woff2') format('woff2'),
         url('/fonts/camptonbolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}