:root {
  --dk: #202020;
  --md: #393939;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dk);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: radial-gradient(259.61% 136.19% at 1.39% 0%, #7BABDD 0%, #E0F1FF 100%);
  height: 100dvh;
  padding: 12px;
}

h1 {
  font-family: 'campton', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.button-test {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 23px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 21.22%, rgba(255, 255, 255, 0.15) 100.31%);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px #FFF inset, 0px -1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(32px);
}