:root {
  --dk: #202020;
  --md: #393939;
  --lit: #dddddd;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  /* color: var(--dk); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 1.5rem);
  background-color: #0a0a0a; /* fallback */
  background-image:
    radial-gradient(circle at center, rgba(0,0,0,0.8) 0%, transparent 50%),
    radial-gradient(circle at top left, rgba(110,0,160,0.4), transparent 70%),
    radial-gradient(circle at bottom right, rgba(0,60,150,0.4), transparent 70%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  margin: 0;
  padding: 0.75rem;
  overflow: hidden;
}

footer {
  width: 100%;
  font-size: 0.5rem;
  border-top: 0.5px solid gray;
  padding-top: 0.5rem;
}

h1 {
  font-family: 'campton', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.button-test {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 23px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 21.22%, rgba(255, 255, 255, 0.15) 100.31%);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px #FFF inset, 0px -1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(32px);
}

nav {
  color: var(--dk);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 11px;
  gap: 10px;
  width: 100%;
  background: linear-gradient(90.06deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 21.22%, rgba(255, 255, 255, 0.75) 100.31%);
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25), inset 0px 1px 2px #FFFFFF, inset 0px -1px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  font-family: 'campton', sans-serif;
  font-size: 0.75rem;
  flex-shrink: 0;
  z-index: 10;
}

nav .left-nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 8px;
  gap: 0.75rem;
}

.left-nav-group .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.05em;
}

.left-nav-group .crumbsElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.right-nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0 8px;
  gap: 2rem;
}

.right-nav-group .right-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* font-weight: 300; */
}

.right-nav-group .right-nav-item:hover {
  filter: brightness(2);
  text-decoration: underline;
  cursor: pointer;
}

.right-nav-group .right-nav-item:hover .account-icon {
  filter: brightness(0.5);
}

/*      FIRST SCREEN: SHARE YOUR VISION     */

main.share-your-vision {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  flex-grow: 1;
  color: var(--lt);
  overflow: none;
}

main.share-your-vision.intro {
  justify-content: center;
  align-items: center;
}

main.share-your-vision.intro .operator-chat {
  padding: 4rem;
  gap: 4rem;
  transform: translateY(-25%);
  max-width: 75dvw;
  align-items: center;
}

main.share-your-vision .operator-chat {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  height: calc(100% - 4rem);
  padding: 0;
  max-width: 800px;
  gap: 0;
}

.chat-intro {
  display: flex;
  flex-direction: column;
  font-family: 'campton', sans-serif;
  letter-spacing: -5%;
  text-align: center;
  gap: 1rem;
}

.chat-intro h1 {
  margin: 0;
  font-size: 8rem;
  opacity: 0.85;
}

.chat-intro h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

main.share-your-vision .operator-chat .chat-box {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding: 1.5rem 2rem;
  gap: 20px;
  width: calc(100% - 16rem);
  margin: 0 96px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 8.35px 6.25px rgba(0, 0, 0, 0.05), inset 0px 1.04px 1.04px rgba(255, 255, 255, 0.25), inset 0px -1.04px 1.04px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(75px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}

main.share-your-vision.intro .operator-chat .chat-box {
    width: calc(100% - 12rem);
}

main.share-your-vision .operator-chat .chat-box textarea,
main.share-your-vision .operator-chat .chat-box button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
}

main.share-your-vision .operator-chat .chat-box button {
  text-decoration: underline;
}

main.share-your-vision .operator-chat .chat-box textarea {
  resize: none;
  overflow: hidden;
  min-height: 1rem;
  max-height: 12rem;
  width: 100%;
}

main.share-your-vision .theme-picker {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  height: calc(100dvh - 4rem);
  max-width: 400px;
  padding-left: 96px;
  transform: translateX(-96px);
  gap: 1rem;

}

main.share-your-vision .theme-picker .theme-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 28rem;
}

main.share-your-vision .operator-chat .message-history {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
  overflow: auto;
  padding: 0 96px 3rem;
  scrollbar-gutter: stable overlay;
  scroll-behavior: smooth;
}

main.share-your-vision .operator-chat .message-history::-webkit-scrollbar {
  width: 1px;
}

main.share-your-vision .operator-chat .message-history .message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  overflow: visible;
}

main.share-your-vision .operator-chat .message-history .message.user {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 8.35px 6.25px rgba(0, 0, 0, 0.05), inset 0px 1.04px 1.04px rgba(255, 255, 255, 0.25), inset 0px -1.04px 1.04px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(75px);
  border-radius: 12px;
  padding: 1rem 2rem;
  margin-left: 4rem;
}

main.share-your-vision .operator-chat .message-history .message.operator {
  margin-right: 4rem;
}

main.share-your-vision .operator-chat .message-history .message.reasoning {
  font-family: "DM Mono", monospace;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .message-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.85rem;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .message-header span.headline {
  flex-grow: 1;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .message-header span.action {
  font-family: "DM Sans";
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.5;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .progress-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 100%;
  height: 2px;
  
  background: linear-gradient(90deg, #ffffff 0%, #555555 50%, #ffffff 100%);
  background-size: 200% 100%;
  animation: progressBarShine 1.25s linear infinite;
  background-blend-mode: plus-lighter;
  border-radius: 2px;
  overflow: visible;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .progress-bar:after {
  content: " ";
  width: 100%;
  height: 2px;

  background: linear-gradient(90deg, #ffffff 0%, #555555 50%, #ffffff 100%);
  background-size: 200% 100%;
  animation: progressBarShine 1.25s linear infinite;
  background-blend-mode: plus-lighter;
  filter: blur(4px);
  border-radius: 2px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

main.share-your-vision .operator-chat .message-history .message.reasoning .reasoning-message {
  font-family: "DM Sans";
}

main.share-your-vision .theme-picker .theme-option img {
  cursor: pointer;
  transition: all 0.25s;
}

main.share-your-vision .theme-picker .theme-option img:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

@keyframes progressBarShine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

main.share-your-vision .shopify-dialog {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(12px);
  background-color: #00000022; */
  z-index: 100;
}